<div class="container mt-4">
  <h2>Items Data</h2>

  <div class="d-flex justify-content-end mb-2">
    <button class="btn btn-primary text me-2" routerLink="/item/add">Add Item</button>
  </div>

  <table class="table table-hover table-bordered mt-3 table-responsive-sm">
    <thead class="table-primary">
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Item Name</th>
      <th scope="col">Stock</th>
      <th scope="col">Price</th>
      <th scope="col">Last Restock</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngIf="itemList.length == 0">
      <td colspan="7" class="text-center">Data Is Empty</td>
    </tr>

    <ng-container *ngIf="itemList.length > 0">
      <tr *ngFor="let item of itemList">
        <td>{{item.itemsCode}}</td>
        <td>{{item.itemsName}}</td>
        <td>{{item.stock}}</td>
        <td>{{item.price}}</td>
        <td>{{item.lastReStock}}</td>
        <td>{{item.isAvailable? 'Tersedia' : 'Tidak Tersedia'}}</td>
        <td>
          <button id="detail" class="btn btn-info btn-sm me-2" routerLink="/item/detail/{{item.itemId}}">
            <i class="bi bi-eye-fill"></i>
          </button>
          <button id="update" class="btn btn-warning btn-sm me-2" routerLink="/item/edit/{{item.itemId}}">
            <i class="bi bi-pencil-fill"></i>
          </button>
          <button id="delete" class="btn btn-danger btn-sm" (click)="deleteItem(item.itemId)">
            <i class="bi bi-trash-fill"></i>
          </button>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>

<div *ngIf="showToast" class="position-fixed top-0 end-0 p-3 rounded-3">
  <div class="align-items-center text-bg-success border-0 rounded-3" role="alert">
    <div class="d-flex">
      <div class="toast-body ms-3 me-3 mt-2 mb-2">
        {{toastMessage}}
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" (click)="closeToast()"></button>
    </div>
  </div>
</div>

