<nav class="navbar navbar-expand-lg bg-primary-subtle">
  <div class="container-fluid ms-3">
    <a class="navbar-brand" href="#">OlShop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link rounded-3" (click)="changePage('customers')" routerLink="/customers" [ngClass]="currentPage == 'customers'? 'bg-light' : ''">Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link rounded-3" (click)="changePage('items')" routerLink="/items" [ngClass]="currentPage == 'items'? 'bg-light' : ''">Items</a>
        </li>
        <li class="nav-item">
          <a class="nav-link rounded-3" (click)="changePage('orders')" routerLink="/orders" [ngClass]="currentPage == 'orders'? 'bg-light' : ''">Orders</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
